@charset "UTF-8";

#kontejner {
  background-color: #dcdcdc;
  width: 600px;
  margin: 300px auto auto auto; 
  border-radius: 10px;   
  -webkit-box-shadow: 0px 0px 30px #000; /* Saf3.0+, Chrome */
      -moz-box-shadow: 0px 0px 30px #000; /* FF3.5 - 3.6 */
           box-shadow: 0px 0px 30px #000; /* Opera 10.5, IE9, FF4+, Chrome 10+ */          
}

body {
  background: #faebd7;
  font-family: Arial, sans-serif;
  font-size: 100%;      
}

form {
   border-radius: 100px;
}

fieldset {
  background-color: #f1f1f1;
  padding: 0 10px;
  border-radius: 10px;
  margin-bottom: 12px;  
  border: none;
  overflow: hidden;    
}

h2 {
  background-color: #dedede;
  color: #fff; 
  font-size: 1.1em;
  text-shadow: #9fbeb9 1px 1px 1px;
  text-transform: uppercase;
  margin: 12px;
  padding: 0.3em 1em;
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #ccc;
}

h2.ucet { 
  background-color: #0b5586; 
}
label {
  text-align: right;
  width: 150px;
  padding: 3px 6px;
  vertical-align: top;
  display: inline-block; 
}

ul {
  background-color: #fff;
  margin: 12px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  list-style: none;  
}

li {   
  margin: 0.5em 0;
}

.delkaInput {
  width: 250px;
}

#vytvoritUcet {
  background-color: #da820a;
  color: #fff;
  text-shadow: 1px 1px 0px #ccc;
  margin: 12px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #333;
  border: none;
  cursor: pointer;
}

input, select, button {
  font: inherit;
}

button * {
  vertical-align: middle;
}

#chyba {
  margin-top: -35px;
  margin-left: 210px;
  color: red;
  font-weight:bold;
}  

